## MacOS
*.DS_Store
.bundle
.sass-cache
node_modules

## Jekyll stuff
/_site/
_site/
_draft/
.sass-cache/
.jekyll-metadata
.jekyll
.jekyll-cache/
# Gemfile
Gemfile.lock

## Astro
dist/
.astro/
node_modules/
