/* Post + Page */


.aside__menu{  
  @media only screen and (max-width: 1300px) {
    display: none;
  }
  
  .buymeacoffee{
    padding-top: 20px;
  }

  float: right;
  border-left: 0.5px solid #eee;
  padding-left: 15px;
  font-size: 15px;
  .asie__category a {
    word-break: normal;
    word-wrap: break-word;
    // border-bottom: 1px solid $heading-font-color;
    // border-bottom: 1px solid $brand-color;
    // color: #0687f0;
    // background-color: rgba(187,239,253,0.3);
    // border-bottom: 1px solid rgba(0,0,0,0.2);
    text-decoration: none;
  
    &:hover {
      // color: $link-color-hover;
      // color: $brand-color;
      // background-color: #bbeffd;
      border-color: $brand-color;
      border-bottom: 1px solid #1a1a1a;
    }
  }
}

.post,
.page {
  max-width: 850px;
  margin: 0 auto;
  color: $heading-font-color;
}

.post__content {
  
  .post__image {
    // height: 250px;
    width: 426px;
    margin-bottom: 50px;
    margin: 0 auto 50px;

    img {
      align-items: center;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .post__toc {
    // position: fixed;
    // left: 50%;
    // top: 50%;
    // flex-direction: column;
    // width: auto;
    // margin-left: 465px;
    // width: 300px;
    // padding: 0.25rem 0.75rem;
    color: rgb(134, 142, 150);
    line-height: 1.5;
    font-size: 0.97rem;
    // max-height: calc(100vh - 480px);
    // overflow: hidden auto;
  }
  
  h1,
  h2 {
    margin-top: 55px;
    margin-bottom: 15px;
    // border-left: 9px solid #0687f0;
    // padding-left: .8rem;
    border-bottom: 1px solid #eaecef;
    padding-bottom: 10px
  }

  h3 {
    margin-top: 35px;
    margin-bottom: 12px;
  }
}

// a tag
.post__content a,
.page__content a {
  word-break: normal;
  word-wrap: break-word;
  // border-bottom: 1px solid $heading-font-color;
  // border-bottom: 1px solid $brand-color;
  // color: #0687f0;
  // background-color: rgba(187,239,253,0.3);
  color: #0969da;
  // border-bottom: 1px solid rgba(0,0,0,0.2);
  text-decoration: none;

  &:hover {
    // color: $link-color-hover;
    // color: $brand-color;
    // background-color: #bbeffd;
    border-color: $brand-color;
    text-decoration: underline;
    // border-bottom: 1px solid #1a1a1a;
  }
}
.page__content {
    h1
     {
      margin-top: 55px;
      margin-bottom: 15px;
      border-left: 9px solid #0687f0;
      padding-left: .8rem;
    }
}

.image-box {
  margin: 40px 0;
  // text-align: center;
}

/* Share */
.post__share {
  margin: 50px 0;

  .share__list {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .share__item {
    margin: 0 2px;
    text-align: center;
  }

  .share__link {
    display: block;
    padding: 2px 12px;
    font-size: 18px;
    color: $background-color-alt;

    &.share__facebook,
    &.share__twitter,
    &.share__linkedin,
    &.share__pinterest {
      border: 1px solid $border-color;
      background: $background-color-alt;
      &:hover {
        color: $white;
      }
    }
    &.share__facebook {
      color: #3b5998;
      &:hover {
        background: #3b5998;
      }
    }
    &.share__twitter {
      color: #55acee;
      &:hover {
        background: #55acee;
      }
    }
    &.share__linkedin {
      color: #0077b5;
      &:hover {
        background: #0077b5;
      }
    }
    &.share__pinterest {
      color: #bd081c;
      &:hover {
        background: #bd081c;
      }
    }
  }

  @media only screen and (max-width: $mobile) {
    margin: 40px 0;
  }
}

/* Navigation */
.post__navigation {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 20px;

  .post__prev, .post__next {
    display: flex;
    width: 48%;
    padding: 25px;
    margin-bottom: 30px;
    background: $background-color-alt;
    border: 1px solid rgba(0, 0, 0, .08);
    box-shadow: 0px 0px 20px rgba(0,0,0,0.05);
    transition: transform .2s;

    &:hover {
      transform: translateY(-3px);
    }

    .prev__image,
    .next__image {
      position: relative;
      display: block;
      width: 100px;
      min-width: 100px;
      height: 100px;
      background-color: $background-color;

      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .prev__image {
      margin-right: 15px;
    }
    .next__image {
      margin-left: 15px;
    }

    .post__nav {
      display: inline-block;
      margin-bottom: 5px;
      font-size: 13px;
      line-height: 1;
      font-weight: 500;
      color: $text-color-alt;
    }

    .post__nav__title {
      margin-bottom: 0;
      font-size: 18px;
      line-height: 24px;

      a {
        &:hover {
          color: $text-color;
        }
      }
    }
  }

  .post__next {
    text-align: right;
    margin-left: auto;
    justify-content: flex-end;
  }

  @media only screen and (max-width: $tablet) {
    flex-wrap: wrap;

    .post__prev, .post__next {
      width: 100%;
    }

    .post__prev {
      margin-bottom: 30px;
    }

    .next__box {
      margin-left: auto;
    }
  }

  @media only screen and (max-width: $mobile) {
    margin-bottom: 10px;

    .post__prev, .post__next {
      padding: 20px;

      .post__nav__title {
        font-size: 15px;
        line-height: 20px;
      }
    }
  }
}

/* Comments */
.post__comments {
  padding: 40px;
  border: 1px solid rgba(0, 0, 0, .08);
  box-shadow: 0px 0px 20px rgba(0,0,0,0.05);
  background: $background-color-alt;

  @media only screen and (max-width: $mobile) {
    padding: 30px;
  }
}

.footnote {
  color: #90949a;
  font-size: 16px;
}
/* 404 */
.error {
  margin-bottom: 30px;
  text-align: center;

  .error__title {
    margin-bottom: 0;
    font-size: 100px;
  }

  .error__text {
    margin-bottom: 20px;
    font-size: 21px;
    color: $text-color-alt;
  }

  .error__button {
    line-height: 45px;
  }
}