@font-face {
  font-family: "JetBrains Mono";
  font-weight: 300;
  src: url("/fonts/JetBrainsMono-Light.woff2") format("woff2");
}

@font-face {
  font-family: "JetBrains Mono";
  font-weight: 400;
  src: url("/fonts/JetBrainsMono-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "JetBrains Mono";
  font-weight: 500;
  src: url("/fonts/JetBrainsMono-Medium.woff2") format("woff2");
}

@font-face {
  font-family: "JetBrains Mono";
  font-weight: 600;
  src: url("/fonts/JetBrainsMono-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "JetBrains Mono";
  font-weight: 700;
  src: url("/fonts/JetBrainsMono-ExtraBold.woff2") format("woff2");
}

@font-face {
  font-family: "Apple SD Gothic Neo";
  font-weight: 400;
  src: url("/fonts/AppleSDGothicNeoL.woff2") format("woff2");
}
@font-face {
  font-family: "Apple SD Gothic Neo";
  font-weight: 500;
  src: url("/fonts/AppleSDGothicNeoM.woff2") format("woff2");
}
@font-face {
  font-family: "Apple SD Gothic Neo";
  font-weight: 600;
  src: url("/fonts/AppleSDGothicNeoB.woff2") format("woff2");
}

*, *::after, *::before {
  box-sizing: border-box;
}

body {
  font-family: $base-font-family;
  font-size: $base-font-size;
  font-weight: 500;
  line-height: $base-line-height;
  letter-spacing: $base-letter-spacing;
  word-spacing: -.5px;
  // border: 10px solid $background-color;
  color: #333;
  // background-color: $background-color;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  word-break: keep-all;

  &.dark {

    .footer__head {
      background: $background-color;

      @media only screen and (max-width: $tablet) {
        padding: 40px;
      }

      @media only screen and (max-width: $mobile) {
        padding: 30px;
      }
    }

    .subscribe-form {
      .subscribe-email {
        background: $background-color-alt;
      }
    }
  }

  @media only screen and (max-width: $mobile) {
    font-size: 16px;
    line-height: 29px;
    border-width: 5px;
  }
}

*::selection {
  color: $white;
  background-color: rgba($brand-color, 0.8);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  font-weight: $heading-font-weight;
  line-height: $heading-line-height;
  letter-spacing: -1px;
}

h1 {
  font-size: $font-size-h1;
}

h2 {
  font-size: $font-size-h2;
}

h3 {
  font-size: $font-size-h3;
}

h4 {
  font-size: $font-size-h4;
}

h5 {
  font-size: $font-size-h5;
}

h6 {
  font-size: $font-size-h6;
}

blockquote {
  position: relative;
  margin-top: 20px;
  margin-left: 10px;
  padding: 5px 15px;
  font-weight: 500;
  font-size: 16px;
  // color: #777;
  color: #333e4c;
  // font-style: italic;
  // background: rgba(0, 0, 0, .04);
  border-left: 5px solid #ddd;
  // border-left: 5px solid #ffe564;
  // background: rgb(248, 249, 250);
  // background: rgba(255,229,100,0.3);
  // border-left:5px solid #ffe564;
  // background: rgba(255,229,100,0.3);
  padding: 1rem 1rem 1rem 2rem;
  word-break: break-word;

  &::before {
    // content: '\201C';
    position: absolute;
    top: 0.35em;
    left: 0.05em;
    font-size: 3.5em;
    color: $brand-color;
  }

  p {
    margin: 0;
  }

  p ~ p {
    margin-top: 10px;
  }

  cite {
    display: inline-block;
    margin-top: 7px;
    font-size: 15px;
    font-style: normal;
    color: $text-color-alt;
    &:before {
      content: '\2014' '\00a0';
    }
  }
}

pre {
  overflow: auto;
  padding: 15px;
  // padding-left: 10px;
  // padding-top: 5px;
  // padding-bottom: 5px;
  margin-bottom: 0;
  font-size: 14px;
  // white-space: pre-wrap;
  // word-wrap: break-word;
  // word-break: break-all;
}

img,
.zoom-img-wrap {
  max-width: 100%;
  height: auto;
  vertical-align: middle;

  &+em {
    display: block;
    margin-top: 15px;
    font-size: 14px;
    line-height: 22px;
    font-style: normal;
    font-weight: normal;
    text-align: center;
    color: $heading-font-color;

    a {
      border-bottom: 1px solid $heading-font-color;
      &:hover {
        color: $link-color-hover;
        border-color: $brand-color;
      }
    }
  }
}

a {
  text-decoration: none;
  color: $link-color;
  transition: $global-transition;
  &:hover {
      color: $link-color-hover;
  }
}

hr {
  display: block;
  height: 1px;
  width: 100px;
  margin: 50px 0;
  border: 0;
  background: $hr-color;
}

.wrapper-page {
  // margin-bottom: 70px;

  @media only screen and (max-width: $tablet) {
    margin-bottom: 60px;
  }
  
  @media only screen and (max-width: $mobile) {
    margin-bottom: 40px;
  }
}

.button {
  display: inline-block;
  height: 45px;
  padding: 0 20px;
  font-size: 15px;
  font-weight: 700;
  border: none;
  outline: none;
  color: $button-color;
  background: $button-background-color;
  transition: all 0.35s;
  cursor: pointer;

  &:hover {
    color: $white;
    background: $button-background-hover;
  }
}

.lazy {
  opacity: 0;
  transition: 0.3s;

  &.loaded {
    opacity: 1
  }
}