---
layout: default
---

{% include hero.html %}

<!-- begin post -->
<div class="container">
  <article class="post animate">

    <div class="post__content">
      {% if page.path contains '_posts' %}
      {% include google-adsense.html %}
        <!-- <div class="post__image">
          <img class="lazy" data-src="{{site.baseurl}}{{page.image}}" alt="">
        </div> -->
      {% endif %}
      {{ content }}
    </div>

    {% include share.html %}

    {% include post-navigation.html %}

    {% if site.disqus-identifier %} {% include disqus-comments.html %} {% endif %}

  </article>
</div>
<!-- end post -->