---
layout: default
---

{% include hero.html %}

<!-- begin post -->
<div class="container">

  {% include side-menu.html %}

  <article class="post animate">
    <div class="post__content">
      {% if page.path contains '_posts' %}
        <!-- <div class="post__image">
          <img class="lazy" data-src="{{site.baseurl}}{{page.image}}" alt="">
        </div> -->
      {% endif %}
      {% include google-adsense.html %}
      {% if post.toc == true %}
      <div class="post__toc">
        <h3 style="color: #333333;">Table of contents</h3>
        {% include toc.html html=content %}
      </div>
      {% endif %}
      {{ content }}
      <!-- {% include related-post.html %} -->
    </div>
    <!-- {% include share.html %} -->
    {% include post-navigation.html %}
    <!-- {% include comments/uttrance.html %} -->
  </article>
</div>
<!-- end post -->